@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,600italic,400italic,700,700italic,900,900italic);
body {

   background-image:url(http://i.imgur.com/ZL8UmN1.jpg);
  	background-attachment: fixed;
  background-repeat:no-repeat;
  background-size:cover;
}

.header{
 
  color:white;
  font-weight:bold;
  font-family: 'Source Sans Pro', sans-serif;
  text-shadow: 5px 5px #000000;
  font-size:8em;
  margin-bottom:50px;
  
}


.container-fluid{
  text-align:center;
  margin-top:150px;
  color:white;
  font-family: 'Source Sans Pro', sans-serif;
}

.para{
  font-family: 'Source Sans Pro', sans-serif;
  color:white;
  font-size:1.35em;
   text-shadow: 1px 2px #000000;
  font-weight:bold;
}
.quoter{
 
  color:white;
  font-family: 'Source Sans Pro', sans-serif;
  font-style:italic;
  font-weight:bold;
  font-size:1.4em;
  text-shadow: 0px 1px 1px #000;
}

.authorr{
  color:white;
  font-family: 'Source Sans Pro', sans-serif;
  font-style:italic;
  font-size:1.3em;
  text-shadow: 0px 1px 1px #000;
}

.well {
 background-color:transparent;
  margin-left: 25%;
  margin-right: 25%;
  border:none;
  

}

footer{
  text-align:center;
  margin-top:50px;
  color:white;
}






